<!DOCTYPE html>
<html>
<head>
	<title>Editexperiancedetails</title>
</head>
<body>
<form>
	<h4><span class="glyphicon glyphicon-briefcase"></span>&nbsp Work Experiance (if any)</h4>

    <input type="text"   placeholder="Name of the Organisation*" name="job_seeker[organisation_name]"><br>

 
    <input type="text"  placeholder="place*" name="job_seeker[place]">


 <div class="input-group">
    <input type="text"   placeholder="From Date*" name="job_seeker[start_date]">
    <span class="input-group-addon" id="start-date"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>


 <div class="input-group">
    <input type="text"   placeholder="To Date*" name="job_seeker[end_date]">
    <span class="input-group-addon" id="start-date"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  

    <input type="text"   placeholder="Designation*" name="job_seeker[designation]">


   <p>Work Description*</p>
 <textarea  rows="5" cols="50"  placeholder="Minimum 120 Characters" name="job_seeker[work_description]"></textarea>
 
   <center> <input type="submit" value="Update Experiance Details"></center>
</form>

</body>
</html>
