<!DOCTYPE html>
<html>
<head>
	<title>EditEducationDetails</title>
</head>
<body>
<form>
<h1><span class="glyphicon glyphicon-book"></span>&nbsp Education Background</h1>

    <input type="text"   placeholder="Graduation*" name="job_seeker[graduation]"><br>


    <input type="text"  placeholder="Course*" name="job_seeker[course_name]"><br>

 
 <div class="input-group">
    <input type="text"   placeholder="Year and Month of graduation*" name="job_seeker[year_and_month_of_graduation]">
     <span class="input-group-addon" id="start-date"><span class="glyphicon glyphicon-calendar"></span></span>
  </div>
  
  
    <input type="text"   placeholder="University/High School Name*" name="job_seeker[university]"><br>
  
   
    <input type="text"   placeholder="place*" name="job_seeker[place]">
<br>
    <input type="text"   placeholder="Grade" name="job_seeker[grade]"><br>
 <center> <input type="submit" value="Update Education Background"></center>
</form>
</body>
</html>